@import "../../variables.scss";

.RadarPlot {
  .AxisObject {
    font-size: 0.7rem;
    .label {
      font-family: $font-family-1;
    }
    line {
      stroke: grey;
      stroke-width: 0.5;
    }
    circle {
      stroke: grey;
    }
  }

  .VisObject {
    transition: opacity 0.5s ease;
    opacity: 1;
  }

  .objects-container {
    &:hover {
      .VisObject {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
