


.CircularAlluvialComponent {


  .background-marks {
    line,
    circle {
      stroke: grey;
      stroke-dasharray: 2, 3;
    }
    circle {
      fill: grey;
      fill-opacity: .05;
    }
    text {
      fill: grey;
      text-anchor: middle;
    }
  }

  .step-bar-background {
    fill: transparent;
  }

  .node-level-label {
    font-size: .5rem;
  }

  .node-level-node {
    fill: lightgrey;
    // fill: orange;
    // stroke: white;
  }
  // .step-node-container:nth-child(odd) .node-level-node {
  //   fill: green;
  // }

  .node-level-label {
    &.is-highlighted {
      font-weight: 900;
    }
  }

  .flow-level-node {
    stroke: none;
    stroke-width: 0;
    fill: transparent;
    stroke: black;
    &.is-highlighted {
      fill: red;
    }
  }

  .flow-link {
    polygon,
    path {
      fill: lightgrey;
      stroke: none;
      opacity: .5;
    }
    &.is-highlighted {
      polygon,
      path {
        fill: red;
      }
    }
  }

  &.has-filters,
  &.has-highlight {
    .node-level-node,
    .flow-link:not(:hover),
    .flow-level-node
     {
      opacity: .1;
    }
    .node-level-label {
      opacity: .6;
    }

    .step-node-container {
      &.has-highlights {
        .node-level-label {
          opacity: 1;
        }
        .flow-level-node {
          opacity: .5;
        }
      }

      &.is-highlighted {
        .flow-level-node {
          opacity: 1;
        }
      }
      
    }
    .flow-link,
    .flow-level-node,
    .node-level-label {
      &.is-filtered-in {
        opacity: .7;
      }
      &.is-highlighted {
        opacity: 1;
      }
    }
    .flow-level-node {
      &.is-highlighted {
        // stroke: white;
        // stroke-width: .2;
      }
    }
    .flow-level-node {
      &.is-filtered-in {
        opacity: .7;
      }
      &.is-highlighted {
        opacity: 1;
      }
    }
    .node-level-label.is-filtered-in {
      opacity: 1;
    }
  }
}