


.CircularAlluvialComponent {

  .step-bar-background {
    fill: lightgrey;
  }

  .node-level-label {
    font-size: .5rem;
  }

  .node-level-node {
    // fill: lightgrey;
    fill: orange;
    stroke: white;
  }
  .step-node-container:nth-child(odd) .node-level-node {
    fill: green;
  }

  .node-level-label {
    &.is-highlighted {
      font-weight: 900;
    }
  }

  .flow-level-node {
    stroke: none;
    stroke-width: 0;
    fill: transparent;
    stroke: black;
    &.is-highlighted {
      fill: red;
    }
  }

  .flow-link {
    polygon,
    path {
      fill: lightgrey;
      stroke: none;
      opacity: .5;
    }
    &.is-highlighted {
      polygon,
      path {
        fill: red;
      }
    }
  }

  &.has-filters {
    .node-level-label:not(:hover),
    .node-level-node,
    .flow-link:not(:hover) {
      opacity: .3;
    }
    .flow-link.is-filtered-in {
      opacity: 1;
      fill: green;
      &.is-highlighted {
        polygon,
        path {
          fill: red;
        }
      }
    }
    .flow-level-node.is-filtered-in {
      fill: green;
      &.is-highlighted {
          fill: red;
      }
    }
    .node-level-label.is-filtered-in {
      opacity: 1;
    }
  }
}