.GeographicMapChart {
  .PointsLayer {
    .point-group {
      circle {
        fill: grey;
        opacity: 0.9;
      }
    }
  }

  .FlowsLayer {
    .label {
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      opacity: 0;
      transition: 0.5s ease all;
      &.is-visible {
        opacity: 1;
      }
    }
    .flow-group {
      opacity: 0.8;
      transition: 0.5s ease all;

      .label:not(.is-always-visible) {
        opacity: 0;
        transition: 0.5s ease all;
      }
    }
    &:hover {
      .flow-group {
        opacity: 0.1;
        &.hovered {
          opacity: 1;
          .label {
            opacity: 1;
          }
        }
      }
    }
  }
  .ChoroplethLayer {
    .geopart {
      fill: WhiteSmoke;
      stroke: black;
      stroke-width: 1;
      transition: 0.5s all ease;
    }
    &.reverse-colors {
      .geopart {
        fill: transparent;
        stroke: white;
      }
    }
    .legend {
      .color-legend {
        fill: transparent;
      }
    }
  }
}

.GeographicMapChartWrapper {
  position: relative;
  .visualization-title {
    position: absolute;
    left: 1rem;
    top: 1rem;
    margin-left: 0 !important;
  }
  .Legend {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.8rem;
    &.left {
      right: unset;
      left: 1rem;
    }
    &.top {
      bottom: unset;
      top: 0;
    }
    .legend-main-title {
      margin-left: 0 !important;
      margin-top: 1.5rem !important;
      margin-bottom: 1rem;
      font-weight: 400;
      font-size: 1rem !important;
    }
    .legend-title {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0;
      margin-top: 1rem;
      margin-left: 0 !important;
      margin-bottom: 0.5rem;
    }

    .size-legend-container {
      .size-legend-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        max-width: 10rem;
        .label {
          flex: 1;
        }
        .size-icon-container {
          width: 2rem;
          height: 2rem;
          margin-right: 0.5rem;
          position: relative;
          span:first-of-type {
            border: 1px dashed black;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
          span:last-of-type {
            border: 1px dashed black;
            border-radius: 50%;
            width: 50%;
            height: 50%;
            position: absolute;
            left: 27%;
            bottom: -5%;
          }
        }
      }
    }
  }
  .color-legend-container {
    .modalities-list {
      margin: 0 !important;
      padding: 0;
      list-style: none;
      font-size: 0.8rem !important;
      li {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .color-marker {
          width: 1em;
          height: 1em;
          margin-right: 0.5rem;
        }
        .label {
          flex: 1;
        }
      }
    }
  }

  .stacked-labels-container {
    line {
      stroke: black;
      stroke-dasharray: 2, 2;
      stroke-width: 0.5px;
      opacity: 0.7;
    }
  }
}

#choro-layer-tooltip {
  z-index: 2000;
}
