
@import '../../variables.scss';

.Atlas {
  padding: 0 $medium-gutter * 6 0 $medium-gutter * 3.8;
  width: 100%;
  min-width: 100vw;
  box-sizing: border-box;
  .loader-indication-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    font-family: $font-family-1;
    z-index: 10;
    &.is-loading {
      background: rgba(0, 0, 0, 0.8);
      color: white;
      opacity: 1;
    }
  }
  .visualizations-list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    grid-gap: $medium-gutter;
    margin-top: $medium-gutter * 2;
    margin-bottom: $medium-gutter * 2;
    cursor: pointer;
    .visualization-item {
      transition: 0.5s ease all;
      opacity: 1;
      .thumbnail-container {
        min-height: 12rem;
        max-height: 12rem;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background: white;
        img {
          max-width: 100%;
          padding: 0;
          box-sizing: border-box;
          opacity: 0.5;
          transition: 0.5s ease all;
          filter: grayscale(80%);
        }
        &:hover {
          img {
            opacity: 1;
            filter: none;
          }
        }
      }
      .visualization-title {
        margin: 0;
        margin-top: $small-gutter;
        padding-top: $small-gutter;
        border-top: 1px solid $color-text;
        font-weight: 400;
      }
      &.is-active {
      }
    }
    &:hover {
      .visualization-item {
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
    @include tablet {
      grid-template-columns: repeat(2, auto);
    }
    @include phone {
      display: flex;
      flex-flow: column nowrap;
    }
  }
  &.has-focus {
    max-height: 100vh;
    overflow: hidden;
  }
  @media print {
    &.has-focus {
      overflow: visible;
      display: flex;
      flex-flow: column nowrap;
      align-items: unset;
      justify-content: unset;
      .centered-contents {
        // order: 2;
        display: none;
      }
    }
    .centered-contents {
      min-width: unset;
      max-width: unset;
      .visualizations-list {
        grid-template-columns: repeat(2, 49%);
      }
    }
  }
}