


.PrincipalVisualizationPart3 {
  height: 100%;
  .step {
    overflow: hidden;
    transition: all .5s ease;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    position: relative;
    img {
      max-height: calc(100vh - 4rem);
    }
    &.is-visible {
      max-height: 100%;
      opacity: 1;
      pointer-events: all;
    }
  }
  &.is-atlas-mode {
    .step {
      max-height: 100%;
      opacity: 1;
      pointer-events: all;
    }
  }
  .GeographicMapChartWrapper {
    .visualization-title {
      background: transparent!important;
    }
  }
  .GeographicMapChart {
    .ChoroplethLayer {
      .geopart {
        stroke: white;
        fill: lightgrey!important;
      }
    }
  }
  .BarChart {
    position: relative;
    bottom: 2rem;
  }
  // step 3
  .ExtraversionObject {
    cursor: pointer;
    .object-label {
      font-weight: 800;
    }
    &.is-minified {
      opacity: .5;
    }
  }

  .small-multiples {
    .ExtraversionObject {
      cursor: default;
    }
  }
  .ports-details {
    .ports-details-title {
      h5 {
        margin-left: 1rem;
        margin-top: 3rem;
      }
    }

    .port-group {
      line {
        stroke: darkgrey;
        stroke-dasharray: 2, 2;
      }
    }
  }

  .interaction-cta {
    font-family: "IBM Plex sans", sans-serif;
    font-size: .8rem;
    font-weight: 800;
  }
  
  .legend-container{
    font-family: "IBM Plex sans", sans-serif;
    font-size: .7rem;
    line, path {
      stroke: darkgrey;
      fill: transparent;
    }
    .label-wrapper {
      position: relative;
      // background: red;
    }
    .top {
      span {
        bottom: 0;
        right: 0;
      }
    }
    .right {
      text-align: right;
    }
  }
}
