@import '../../variables.scss';

.ScrollyPage {
  position: relative;
  width: 100vw;
  min-width: 100vw;
  // max-width: calc(100vw - 2rem);
  background: linear-gradient(to bottom, $color-background-blue 10vh, $color-background 50vh);
  // overflow-x: hidden;
  .loader-indication-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    font-family: $font-family-1;
    z-index: 10;
    &.is-loading {
      background: rgba(0, 0, 0, 0.8);
      color: white;
      opacity: 1;
    }
  }
  > section {
    width: 40%;
    box-sizing: border-box;
    padding: 0 $medium-gutter 0 $medium_gutter * 4;
    margin-bottom: $medium-gutter * 15;

    a {
      color: inherit;
    }

    p,
    ul,
    ol,
    blockquote {
      font-size: 1.1rem;
      @include tablet {
        font-size: 1rem;
      }
    }
  }
  aside {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60%;
    height: calc(100vh - #{$header_height});
    box-sizing: border-box;
  }
  
  .fullscreen-viz-toggle-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: $medium-gutter;
    // padding-top: 0;
    button {
      background: transparent;
      border: 1px solid $color-text;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
      font-size: 0.8rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      span {
        position: relative;
        top: -0.05rem;
      }
    }
  }
  @include tablet {
    section {
      width: 50%;
      padding-left: $medium-gutter;
      padding-top: $medium-gutter * 2;
    }
    aside {
      width: 50%;
    }
  }
  @include phone {
    max-width: 100vw;
    section {
      width: 100%;
      position: relative;
      left: -100vw;
      transition: 0.5s ease all;
      padding-right: 2 * $medium-gutter;
      &.is-focused {
        left: 0;
      }
    }
    aside {
      width: 100%;
      position: fixed;
      transition: 0.5s ease all;
      left: 100vw;
      &.is-focused {
        left: 0;
      }
      // display: none;
    }
  }

  .GeographicMapChartWrapper {
    .visualization-title {
      background: $color-background;
    }
    .Legend {
      background: $color-background;
    }
    .GeographicMapChart {
      .ChoroplethLayer.reverse-colors {
        .geopart {
          stroke: grey;
        }
      }
    }
  }
}
