.TriangleComponent {

    .TriangleLegend{
        .textLegend{
            .legendContent{
            transform : rotate(-90deg);
            // transform-origin : bottom left;
            }
            
        }
    }

    rect {
        fill : transparent;
        stroke : transparent;
    }

    .triangles{
        .port-point-and-triangle{
            transition : .5s ease all;
            opacity : 1;
        } 
        &:hover{
            .port-point-and-triangle{
                opacity : .3;
                &:hover{
                    opacity: 1;
                }
            } 
        }
    }

    path.horizontalLine {
        stroke : rgb(105, 107, 112);
    }

}