.TriangleComponent {

    rect {
        fill : transparent;
        stroke : transparent;
    }

    path {
        stroke : rgb(39, 129, 141);
        fill : rgb(39, 129, 141);
    }

    path.horizontalLine {
        stroke : rgb(105, 107, 112);
    }

}