


.GraphContainer {
  height: 100%;
}

.NetworkGraphChart {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  .visualization-title-container {
    // position: absolute;
    // left: 0;
    // top: 0;
    z-index: 3;
    .visualization-title {
      margin: 0;
      padding: 0;
    }
    
  }
}