

.IntroBureaux {
  .bureau-label {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    
    span {
      background: #336d7c;
      color: white;
    }
    &.is-reversed {
      text-align: right;
    }
  }
  &.is-atlas-mode {
    .bureau-label {
      span {
        color: #333;
        background : white;
      }
    }
  }
}