.PrincipalVisualizationPart2 {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;

  .circular-alluvial-container {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease all;

    .visualization-title {
      width: 80%;
    }
  }

  .radar-container {
    padding-left: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s ease all;
  }

  .RadarWrapper {
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 2.1rem;
    box-sizing: border-box;

    .RadarPlot{
      position: relative;
      right: 1rem;
    }

    &:not(.is-minified) {
      .visualization-title {
        padding-left: 6rem;
      }
    }

    .slider-container {
      > div {
        margin: 0 !important;
        width: 100% !important;
      }
    }
    .controls-container {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 0.9rem;

      padding: 1rem;
      box-sizing: border-box;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .controls-contents {
        width: 60%;
        min-width: 8rem;
        margin-right: 2rem;
      }

      .aggregation-controls-container {
        display: inline-block;
        select {
          display: inline-block;
          border: none;
          background: inherit;
          font-family: "IBM Plex Sans", sans-serif;
        }
        .slider-container {
          position: relative;
          top: -1rem;
          .rc-slider-rail {
            background: lightgrey;
          }
          .rc-slider-handle {
            border-color: #333;
          }
          .rc-slider-track {
            background-color: grey;
          }
        }
      }

      .bureaux-list {
        padding: 0;
        list-style: none;
        .bureau-item {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          cursor: pointer;
          opacity: 0.5;
          transition: opacity 0.5s ease;
          .color-marker {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            min-width: 1rem;
            min-height: 1rem;
            margin-right: 0.5rem;
            box-sizing: border-box;
          }
          .bureau-label {
            // flex: 1;
          }
          &.is-active {
            opacity: 1;
            .color-marker {
              border: 1px solid grey;
            }
          }
        }
      }
      &:not(.is-minified) {
        position: absolute;
        bottom: 0%;
        transition: all 0.5s ease;
        width: 30%;
        left: -40%;
      }
    }
  }
  &.is-screenshot-mode {
    .radar-container {
      top: 15vh;
      display: flex;
      justify-content: flex-end;
      flex-flow: row;
    }
    .controls-container {
      display: none;
    }
  }
  /**
   * Atlas mode
   */
  &.is-atlas-mode:not(.is-screenshot-mode) {
    // height: 200vh;
    flex-flow: column nowrap;
    align-items: center;
    .circular-alluvial-container {
      position: relative;
      left: unset;
      top: unset;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
    .radar-container {
      position: relative;
      .RadarWrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .controls-container {
          position: relative;
          bottom: unset;
          width: unset;
          left: unset;
          padding: 0;
        }
      }
    }
  }
  
}