// #menu-outer {
// 	height: 84px;
// 	/* background: url(images/bar-bg.jpg) repeat-x; */
// }

// .table {
// 	display: table;   /* Allow the centering to work */
// 	margin: 0 auto;
// }

// ul#horizontal-list {
// min-width: 696px;
// list-style: none;
// padding-top: 20px;
// }
// ul#horizontal-list li {
// 	display: inline;
// }

.GeoComponent {

	.PointsLayer {
		.point-group {
			circle {
				fill : grey;
			}
		}
	}
	.ChoroplethLayer {
		.geopart {
			fill: transparent;
			stroke: black;
			stroke-width: 1;
		}

	}
}