


.DeclineComponent {
  position: relative;
  // @todo externalize scss variables
  font-family: "IBM Plex Sans", sans-serif;
  max-height:100%;

  .row {
    max-height: 0;
    overflow: hidden;
    transition: .5s ease max-height;
    opacity: 0;
    &.is-visible {
      max-height: 100vh;
      opacity: 1;
    }
  }


  h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    color: grey;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .LongitudinalTradeChart {
    .axis-headers-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      font-size: .6rem;
      color: white;
      .axis-header {
        padding: .1rem .2rem;
        box-sizing: border-box;
      }
    }
    .axis {
      text {
        font-size: .5rem;
      }
    }
    .axis-bottom {
      .axis-group {
        text {
          rotate: -45deg;
          text-anchor: end;
        }
      }
    }
    .axis-left {
      text {
        text-anchor: end;
      }
    }

    .color-scale-container {
      display: flex;
      flex-flow: column nowrap;
      width: 30%;
      .color-scale-detail {
        position: relative;
        .bar {
          height: 1rem;
        }
        .labels {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          font-size: .5rem;
          padding: .2rem;
          padding-top: .1rem;
          box-sizing: border-box;
          height: 1rem;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          color: white;
        }
      }
    }

    .bars-container {
      &:hover {
        rect {
          opacity: .5;
          transition: .5s ease all;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    &.has-highlights {
      .graph-bar {
        opacity: .5;
        &.is-highlighted {
          opacity: 1;
        }
      }
    }
    .lines-container {
      &:hover {
        line {
          opacity: .5;
          transition: .5s ease all;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .ProductsDistributionChart {
    .years-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .year-label {
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: .5rem;
        margin-bottom: 10px;
        span {
          rotate: -45deg;
          display: inline-block;
        }
      }
      .year-column {
        display: flex;
        flex-direction: column;
        justify-items: start;
        // padding-bottom: 2px;
        box-sizing: border-box;
        // display: flex;
        // align-items: center;
        .product-group {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          transition: .5s ease all;
          &:not(:last-of-type) {
            cursor: pointer;
          }
          .bar {
            box-sizing: border-box;
            border-bottom: 1px solid white;
          }
          .label {
            margin-left: .5rem;
            float: right;
            transition: .5s ease all;
          }
          &:last-of-type {
            opacity: .3;
            &:hover {
              opacity: .7;
            }
          }
        }
        &:last-of-type {
          margin-right: 1rem;
          .product-group {
            flex-direction: row-reverse;
            .label {
              margin-right: .5rem;
              margin-left: unset;
              float: left;
              text-align: right;
            }
          }
          .year-label {
            position: relative;
            align-self: flex-end;
            left: .5rem;
          }
        }
      }
      &.has-highlights {
        .product-group {
          opacity: .5;
          &.is-highlighted {
            opacity: 1;
          }
        }
      }
    }
  }
}