


.DeclineComponent {
  position: relative;
  // @todo externalize scss variables
  font-family: "IBM Plex Sans", sans-serif;
  max-height:100%;

  .row {
    max-height: 0;
    overflow: hidden;
    transition: .5s ease max-height;
    opacity: 0;
    &.is-visible {
      max-height: 100vh;
      opacity: 1;
    }
  }


  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .ProductsDistributionChart {
    .years-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .year-label {
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: .8rem;
        margin-bottom: 10px;
        span {
          rotate: -45deg;
          display: inline-block;
        }
      }
      .year-column {
        display: flex;
        flex-direction: column;
        justify-items: start;
        // padding-bottom: 2px;
        box-sizing: border-box;
        // display: flex;
        // align-items: center;
        .product-group {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          .bar {
            box-sizing: border-box;
            border-bottom: 1px solid white;
          }
          .label {
            margin-left: .5rem;
            float: right;
          }
        }
        &:last-of-type {
          margin-right: 1rem;
          .product-group {
            flex-direction: row-reverse;
            .label {
              margin-right: .5rem;
              margin-left: unset;
              float: left;
            }
          }
          .year-label {
            position: relative;
            align-self: flex-end;
            left: 1rem;
          }
        }
      }
    }
  }

}