@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
    font-family: 'Karla', sans-serif;
  }

header {
    position: fixed; /* pour fixer le header pendant le scroll */
    width: 100%;
    z-index: 2;
    /* background-color: rgb(58, 118, 135); */
    /* color: whitesmoke; */
}


/**
 * NAV
 */
nav{
  padding: 1rem;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  overflow: auto;
  background: white;
  /* background: rgba(240,240,240,1); */
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  width: calc(100% - 2rem);
}

nav li:not(:last-of-type){
  margin-right: .5rem;
}

nav a{
  color: inherit;
  text-decoration: none;
}

nav .navitem-container a {
  display: block;
}

nav .navitem-container a.active {
  font-weight: 800;
}


.lang-toggle {
  display: flex;
  flex-flow: column nowrap;
  border-left: 1px solid black;
  padding-left: .5rem;
}

.lang-toggle button:not(.is-active) {
  cursor: pointer;
}

.lang-toggle button.is-active {
  font-weight: 800;
}


/**
 * FOOTER 
 */

footer {
    /* position: fixed; */
    background-color: thistle;
}

#wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: stretch;
    /* je voudrais que mon header s'éloigne du reste mais n'y arrive pas pour l'instant */
}

.HeaderNav {
    display: flex; 
    justify-content: space-around;
    flex-direction: row;
  }

#wrapper > main {
    display: flex;
    padding: 1rem;
    padding-top: 6rem;
    justify-content: stretch;
    align-content: stretch;
    /* je voudrais que mon header s'éloigne du reste mais n'y arrive pas pour l'instant */
}

/**
 * SCROLLYTELLING LAYOUT
**/
.ScrollyPage {
  position: relative;
  section {
    width: 30%;
    margin-left: 70%;        
  }
  aside {
    position: fixed;
    background: red;
    left: 0;
    bottom: 0;
    width: calc(70% - 3rem);
    height: calc(100vh - 7rem);
  }
}

.Caller {
  background: lightgreen;
  &.is-active {
    background: red;
    color: white;
  }
}
/**
 * MISC
 */

 button {
  border: none;
  background: rgba(220,220,220,1);
  padding: .5rem;
  font-family: 'Karla', sans-serif;
  outline: none;
  cursor: pointer;
}

button.is-active {
  background: rgba(50,50,50,1);
  color: white;
}

.SigmaComponent {
  border: 1px solid lightgrey;
}

  .VisualizationController {
    width: 100%;
    height: 100%;
    position: absolute;
    // padding-left: 3rem;
    // padding-right: 5rem;
    box-sizing: content-box;
    &.networkGraph {
      padding-left: 3rem;
    }
  }

/**
 * Loader (@todo refacto)
 */ 

/**
   * Loader
   */
   .loader-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .loader{
    background: lightgrey;
    height: 10px;
    width: 50%;
    position: relative;
  }
  .loader .loading-bar {
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: width .2s ease;
  }
  