


$font-family-1: "IBM Plex Sans", sans-serif;
$font-family-2: "Lora", serif;

$fontsize_part_title: 2rem;
$fontsize_title2: 1.3rem;
$fontsize_nav: 1rem;

$color-text: #403d3d;
$color-accent: #34495e;
$color-accent-background: #336d7c;
$color-background-blue: #d3e5e5;
$color-background: #ebebeb;

$small-gutter: 0.5rem;
$medium-gutter: $small-gutter * 2;
$external_gutter: 15vw;

$header_height: 3rem;

$footer_height: 18rem;
$drawer-width: 300px;

/*
 * Responsive design mixins
 */
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
// $screen-md-min: 768px;
// $screen-md-min: 900px;
$screen-md-min: 950px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;



// Small devices
@mixin phone {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin tablet {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin large-screen {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl-screen {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
